In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.basemap import Basemap
from datetime import datetime

%matplotlib inline

In [8]:
tsl = pd.Series(np.random.randn(20), index=pd.date_range('2017-01-03', periods=20, freq='h'))
tsl2 = pd.DataFrame(np.random.randn(100), index=pd.date_range('2017-01-01', periods=100, freq='h'))

In [11]:
tsl2.loc[tsl.index]

                            0
2017-01-03 00:00:00 -0.322841
2017-01-03 01:00:00 -0.148449
2017-01-03 02:00:00  0.453131
2017-01-03 03:00:00  0.411649
2017-01-03 04:00:00  0.641693
2017-01-03 05:00:00 -1.524248
2017-01-03 06:00:00  0.617492
2017-01-03 07:00:00 -2.117179
2017-01-03 08:00:00 -1.022903
2017-01-03 09:00:00 -0.123752
2017-01-03 10:00:00  1.625373
2017-01-03 11:00:00 -0.066883
2017-01-03 12:00:00 -0.481443
2017-01-03 13:00:00  1.727453
2017-01-03 14:00:00 -1.925526
2017-01-03 15:00:00 -1.969963
2017-01-03 16:00:00  0.490636
2017-01-03 17:00:00  0.351348
2017-01-03 18:00:00 -0.996195
2017-01-03 19:00:00 -0.786546

In [30]:
tsl.loc['201701010200']

0    1.313359
Name: 2017-01-01 02:00:00, dtype: float64