In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.basemap import Basemap
from datetime import datetime

%matplotlib inline

In [27]:
tsl = pd.DataFrame(np.random.randn(20), index=pd.date_range('2017-01-01', periods=20, freq='h'))

In [28]:
tsl

                            0
2017-01-01 00:00:00  2.314895
2017-01-01 01:00:00 -0.505337
2017-01-01 02:00:00  1.313359
2017-01-01 03:00:00 -0.100734
2017-01-01 04:00:00 -0.191036
2017-01-01 05:00:00  0.977035
2017-01-01 06:00:00  1.183073
2017-01-01 07:00:00 -1.131868
2017-01-01 08:00:00  0.288071
2017-01-01 09:00:00 -0.849146
2017-01-01 10:00:00  0.945536
2017-01-01 11:00:00 -0.531364
2017-01-01 12:00:00 -1.461220
2017-01-01 13:00:00  1.916832
2017-01-01 14:00:00  0.349656
2017-01-01 15:00:00  0.672849
2017-01-01 16:00:00  0.001251
2017-01-01 17:00:00 -1.021215
2017-01-01 18:00:00 -2.178053
2017-01-01 19:00:00  0.279312

In [30]:
tsl.loc['201701010200']

0    1.313359
Name: 2017-01-01 02:00:00, dtype: float64