In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.basemap import Basemap
from datetime import datetime

%matplotlib inline

In [4]:
tsl = pd.Series(np.random.randn(20), index=pd.date_range('2017-01-03', periods=20, freq='h'))
tsl2 = pd.DataFrame(np.random.randn(100), index=pd.date_range('2017-01-01', periods=100, freq='h'))

In [35]:
df_generators_ucData = pd.DataFrame(
    [[0.5,9,0.37,4000,4000,8,20,0.04,0.04],
     [0.5,'-',0.355,4000,4000,8,16,0.05,0.05],
     [0.4,21.13,0.25,7500,'b',8,16,0.05,0.05],
     ['-',21.13,0.5,8000,800,8,'7',0.1,0.1]],
    index=["Braunkohle","Steinkohle","Erdgas","GuD"],
    columns=[i for i in range(9)]
)
df_generators_ucData

              0      1      2     3     4  5   6     7     8
Braunkohle  0.5      9  0.370  4000  4000  8  20  0.04  0.04
Steinkohle  0.5      -  0.355  4000  4000  8  16  0.05  0.05
Erdgas      0.4  21.13  0.250  7500     b  8  16  0.05  0.05
GuD           -  21.13  0.500  8000   800  8   7  0.10  0.10

In [40]:
findings = df_generators_ucData.applymap(lambda item: 0 if not(np.isreal(item)) else item)
findings

              0      1      2     3     4  5   6     7     8
Braunkohle  0.5   9.00  0.370  4000  4000  8  20  0.04  0.04
Steinkohle  0.5   0.00  0.355  4000  4000  8  16  0.05  0.05
Erdgas      0.4  21.13  0.250  7500     0  8  16  0.05  0.05
GuD         0.0  21.13  0.500  8000   800  8   0  0.10  0.10

for x in df_generators_ucData.columns:
    df_generators_ucData[x] = df_generators_ucData[x].map(lambda item: 0 if not(np.isreal(item)) else item)

In [39]:
df_generators_ucData.iloc[0]

0     0.5
1       9
2    0.37
3    4000
4    4000
5       8
6      20
7    0.04
8    0.04
Name: Braunkohle, dtype: object