In [1]:
from __future__ import print_function, division
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import os
import math

%matplotlib inline

In [2]:
cur_path = r"C:\Users\janni\OneDrive\TU Berlin\4 - Abschlussarbeiten\01 - Bachelorarbeit\modell\data\\"

Von A6:B12

In [62]:
gen_data = [pd.DataFrame for i in range(2)]

for i in range(len(gen_data)):
    gen_data[i] = pd.read_excel(cur_path + "Technische Daten Gaskraftwerke.xlsx",
                                sheet_name=i,
                                header=4,
                                index_col=0,
                                parse_cols="C:D",
                                skip_footer=28)[0:7]

adds = {"commitable":True,
        "startup_cost":300}

#for i,val in adds.items():
 #   dt.set_value(i, val)
    
gen_data

[Empty DataFrame
 Columns: [wert]
 Index: [], Empty DataFrame
 Columns: [wert]
 Index: []]

In [103]:
gen_data = [pd.DataFrame for i in range(2)]
ex = pd.ExcelFile(cur_path + "Technische Daten Gaskraftwerke.xlsx")

for i in range(len(gen_data)):
    # Extract last two columns from worksheet and only rows 5-12
    gen_data[i] = ex.parse(i).iloc[4:11,[-2,-1]]
    # Use values from first column as index
    gen_data[i].index = gen_data[i].iloc[:,0]
    # Delete column in the middle
    gen_data[i] = gen_data[i].iloc[:, -1]
    
gen_data

[Unnamed: 2
 name               Fortuna
 p_nom               595 MW
 efficiency          0.6039
 carrier                gas
 ramp_limit_up           35
 ramp_limit_down         35
 p_min                   50
 Name: Unnamed: 3, dtype: object, Unnamed: 2
 name               SGT5-2000E
 p_nom                  187 MW
 efficiency            0.35657
 carrier                   gas
 ramp_limit_up              10
 ramp_limit_down            10
 p_min                      50
 Name: Unnamed: 3, dtype: object]

In [94]:
# Multiple row and column selections using iloc and DataFrame
# data.iloc[0:5] # first five rows of dataframe
# data.iloc[:, 0:2] # first two columns of data frame with all rows
# data.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.
# data.iloc[0:5, 5:8] # first 5 rows and 5th, 6th, 7th columns of data frame (county -> phone1).

In [9]:
lst = pd.read_excel(cur_path + "Stromlast und Windeinspeisung.xlsx",
                    sheet_name="Tabelle1",
                    header=3,
                    #skiprows=3,
                    index_col=0,
                    parse_cols="A:F")

lst.head()

,Last,Windeinspeisung Original,Differenz,Windeinspeisung verschoben um 48785,Differenz Verschoben
"Datum, Zeit",,,,,
2015-11-01T00:00:00Z,39567,6948,32619,55733,-16166
2015-11-01T00:15:00Z,39200,6979,32221,55764,-16564
2015-11-01T00:30:00Z,38738,7094,31644,55879,-17141
2015-11-01T00:45:00Z,38153,7087,31066,55872,-17719
2015-11-01T01:00:00Z,38151,7153,30998,55938,-17787