In [3]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame({"a":[1,2,3,4],
                  "b":[2,3,4,5],
                  "c":[3,4,5,6],
                  "d":[4,5,6,7]})

In [33]:
df

   a  b  c  d
0  1  2  3  4
1  2  3  4  5
2  3  4  5  6
3  4  5  6  7

In [44]:
dfa = pd.DataFrame(columns = df.columns.values)

In [53]:
blocksize = 2
i = 0

#dfa.apply(lambda x: print(df[i:i+blocksize].sum()), axis=1)
while i < len(df):
    print(df[i:i+blocksize].sum().tolist())
    #dfa.iloc[i//blocksize] = df[i:i+blocksize].sum().tolist()
    i += blocksize

[3, 5, 7, 9]
[7, 9, 11, 13]

In [50]:
dfa

     a    b    c    d  0   1
0  NaN  NaN  NaN  NaN  3   7
1  NaN  NaN  NaN  NaN  5   9
2  NaN  NaN  NaN  NaN  7  11
3  NaN  NaN  NaN  NaN  9  13